
.emp-form {
  font-family: "Carnas-thin";
  color: #5c5c5c;
}
.emp-heading {
  font-weight:  bolder;
  font-size: 1.5rem;
}

button{
  width: 100px;
  background-color: #6a7deb;
  color: white;
  padding: 8px 10px;
  margin: 6px 0px 0px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #435ce7;
}

.right-align{
  float: right;
}

label {
    font-weight: 400;  
}

label .invalid {
    color: red;
}

input {
    font-weight: 400;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input .ng-invalid .ng-touched {
    border-color: red;
    border-width: 1.5rem;
  }